{% extends "MainApp/base.html" %}
{% load static %}
{% block content %}

<p> {{ pizza }} </p>

{% for t in topping %}
<li> 
    {{ t }}
</li>
    {% empty %}
<li> No toppings have been added...</li>
    {% endfor %}
<p></p>
<p></p>
{% if pizza.header_image %}
<img src="{{ pizza.header_image }}">
{% endif %}

<p> {{ pizza }} Reviews: </p>
    {% for r in new_reviews %}
<li>
    {{r}}
</li>
{% empty %}
<li> No reviews have been added...</li>
    {% endfor %}

<p><a href="{% url 'MainApp:new_review' pizza.id %}">Add a review!</a></p>

{% endblock content %}
